/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');


form {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.input-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  width: 272px;
  height: 40px;
  border-color: #f79bf4;
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  transition: border-color cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: outline cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input-form:hover {
  border-color: #ab2fe0;

}

input:hover::placeholder {
  color: #ab2fe0;
}

input:focus::placeholder {
  color: #e02fda;
}

.input-form:active {
  border-color: #d22fe0;
  outline: #d22fe0;
}

.input-form:focus {
  outline: none;
  border-color: #d22fe0;
}



.btn-form {
  width: 91px;
  height: 45px;
  border-radius: 8px;
  outline: none;
  border-color: #c02fe0;
  background-color: #ab2fe0;
  color: azure;
  transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-form:hover {
  background-color: #d22fe0;
  border-color: #d22fe0;
}


button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

/* loader */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-left:  auto;
  margin-right: auto;

}

  .loader2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left:  auto;
    margin-right: auto;
  }


.is-hidden {
  display: none;
}



/* card */

.positions {
  display: block;
  text-align: center;
  font-weight: 200;
  font-size: 14px;
}

.text {
  font-family: "Geologica", serif;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  text-align: center;
  gap: 25px;
  border-radius: 8px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 400;
  height: 100px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: -9px -21px 61px -3px rgba(221, 14, 234, 0.15) inset;
  background-color: #ffffff
}

.photo {
  box-shadow: 5px 3px 3px #9c9c9c;
  border-radius: 8px;
  height: 240px;
  width: 372px;
}


.card {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover {
  transform: scale(1.05);
}

.gallery {
  display: flex;
  margin-top: 32px;
  gap: 38px;
  flex-wrap: wrap;
}

.load-more {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 120px;
  text-align: center;
  height: 45px;
  border-radius: 8px;
  outline: none;
  border-color: #c02fe0;
  background-color: #ab2fe0;
  color: azure;
  transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.load-more:hover {
  background-color: #d22fe0;
  border-color: #d22fe0;
}


.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  stroke-width: 0;
  fill: #e02fda;
  stroke: #ab2fe0;
}

.icon-visibility {
  width: 35px;
  height: 35px;
}



.icon-cloud-download {
  width: 35px;
  height: 35px;
}

.text-card {
  display: flex;
  color: #575757;
}

.headline {
  display: inline-block;
  justify-content: flex-start;
  align-items: start;
  padding-right: 5px;
  font-size: large;
  font-weight: 500;
  
}

.text-haedline {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}